.game-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 20px 45px 10px;
}

.game-header img {
    width: 100%;
    max-width: 150px;
}

.hit-points-indicator {
    display: flex;
}

.hit-point {
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.unused {
    background-image: url("/public/icons/heart.svg");
}

.used {
    background-image: url("/public/icons/heart-broken.svg");
}
