.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 150px;
    border-radius: 15px;
    background-color: #FFF;
    text-align: center;
    overflow: hidden;
}

.modal-title {
    margin: 0;
    color: #FFF;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.win {
    background-color: #4CAF50;
}

.lose {
    background-color: #E63946;
}

.modal-description {
    font-weight: bold;
}

.button {
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #BFA2DB;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #62358E;
}